* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--fundo);
    color: var(--cor-texto);
    overflow-x: hidden;
}

:root {
    --cor-primaria: #d06cc7;
    --cor-secundaria: #70356b;
    --cor-terciaria: #450b42;
    --cor-texto: #fff5ff;
    --sombra: #4947be;
    --luz: #9ca1ff;
    --fundo: hsl(287, 58%, 6%);
    --vidro: rgba(255, 255, 255, 0.1);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0.1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, rgb(145, 85, 223) 0%, transparent 20%),
        radial-gradient(circle at 80% 90%, rgb(84, 4, 150) 0%, transparent 20%),
        var(--vidro);
}

.menu-principal {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 3rem;
    background: rgba(151, 16, 149, 0.8);
    z-index: 1000;
    top: 0;
    padding: 0.5rem 0;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.menu-link,
a {
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-texto);
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--luz);
    box-shadow: 0 0 10px var(--sombra);
    bottom: 1px;
    ;
    left: 0;
    transition: width 0.7s ease;
}

.menu-link:hover::after {
    width: 100%;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-toggle .line {
    height: 3px;
    width: 100%;
    background: var(--cor-texto);
    border-radius: 3px;
    transition: transform .3s ease, opacity .3s ease;
}

[aria-expanded="true"] .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

[aria-expanded="true"] .line:nth-child(2) {
    opacity: 0;
}

[aria-expanded="true"] .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


main {
    padding: 2rem 0;
}

.caixa-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    min-height: 100vh;
}

#foto {
    width: auto;
    height: 50%;
    border-radius: 100%;
    box-shadow: 0 0 10px var(--sombra);
    margin-bottom: 1rem;
    background: var(--cor-primaria);
    animation: flutuar 5s ease-in-out infinite;

}

h1 {
    font-size: 2.5rem;
    color: var(--cor-texto);
    margin-bottom: 1rem;
    text-shadow: 0 0 20Px var(--vidro);
}

.pInicio {
    font-size: 1.2rem;
    color: #fff5ff73;
    margin-bottom: 1rem;
}

.informacoes {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;

}

.caixa-sobre {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 4%;
    margin-left: 10%;
    margin-right: 10%;
    background: hsl(286, 61%, 10%);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px var(--sombra);
    border-radius: 10px;
}

.pSobre {
    font-size: 3rem;
    color: var(--cor-texto);
    text-wrap: wrap;
    text-align: justify;
    margin: 0%;
    padding: 0%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--cor-texto);
    margin-bottom: 1rem;
    text-shadow: 0 0 20px var(--vidro);
    margin-bottom: 2rem;
}

#projetos {
    min-height: 100vh;
}

.projeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding-top: 0%;
    padding-right: 5rem;
    padding-left: 5rem;
}

.projetos-cards {
    background: hsl(286, 61%, 10%);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px var(--sombra);
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    text-align: center;
    height: 20%;
    transition: 0.5s ease;

}

.projetos-cards:hover {
    box-shadow: 0 4px 12px var(--sombra), 0 6px 20px var(--luz);
    height: 30rem;
    width: 20rem;
    margin-top: 0%;
    padding-bottom: 0.5rem;
    transition:
        margin-top .1s ease,
        width .1s ease,
        padding-bottom .1s ease,
        height .1s ease,
        box-shadow .4s ease;

}

.projetos-cards:hover .paragrafos-cards {
    -webkit-line-clamp: unset;
    line-clamp: unset;
}

.projetos-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--vidro);
}

.caixa-projetos-texto {
    margin-top: 1rem;
    height: 200px;

}

.titulos-cards {
    font-size: 1.5rem;
    color: var(--cor-texto);
    margin-bottom: 0.5rem;
}

.paragrafos-cards {
    display: -webkit-box;
    font-size: 1rem;
    color: #fff5ff73;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projeto-titulo {
    padding-top: 5rem;
}

.contato {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;

}

.caixa-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 90%;
    padding: 2rem;
    background: hsl(286, 61%, 10%);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px var(--sombra);
    border-radius: 10px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.texto-contato {
    width: 90%;
    padding: 1rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 5px;
    background: var(--vidro);
    color: var(--cor-texto);
    box-shadow: 0 0 5px var(--sombra);
}

.btn {
    width: 40%;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(35deg, #c956bf, var(--cor-terciaria));
    color: var(--cor-texto);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px var(--sombra);
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background: var(--cor-terciaria);
    box-shadow: 0 0 20px var(--sombra);
}

.caixa-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paragrafo-footer {
    font-size: 1rem;
    color: #fff5ff73;
    margin-bottom: 1rem;
    text-align: center;
}

.redesSociais {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 1rem;

}

.link-rede-social img {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px var(--sombra);
    border-radius: 20px;
    background: var(--luz);
    transition: transform 0.3s ease;
}

.link-rede-social img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}

@media (max-width: 1080px) {

    .projeto {
        flex-direction: column;
        padding: 1rem;
        min-width: auto;

    }

    .projetos-cards {
        width: 80%;
        height: 40%;

        margin-top: 2rem;


    }

    .projetos-cards:hover {
        width: 85%;
        gap: rem;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}


@media (max-width: 1024px) {
    .menu {
        gap: 2rem;
    }

    .caixa-sobre {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }




    .caixa-contato {
        width: 90%;
        padding: 1rem;
    }

    .btn {
        width: 60%;
    }

    .pSobre {
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .titulos-cards {
        font-size: 1.2rem;
    }

    .paragrafos-cards {
        font-size: 0.95rem;
    }

    .texto-contato {
        font-size: 1rem;
    }
}



@media (max-width: 600px) {
    .menu-toggle {
        display: flex;
        position: absolute;
        top: 1rem;
        height: 1rem;
        padding-left: 10px;
        z-index: 1001;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .35s ease;
    }

    .menu--aberto {
        transform: scaleY(1);
        background-color: rgba(151, 16, 149, 0.8);
        opacity: 2;
        height: 100vh;
        width: 100%;
        align-self: center;
        padding: auto;
    }

    .menu-link a {
        padding: 0.5rem 1rem;
        font-size: 2rem;
    }



    #foto {
        width: 60%;
        height: auto;
    }

    h1 {
        font-size: 1.8rem;
    }

    .pInicio {
        font-size: 1rem;
    }

    .pSobre {
        font-size: 1.5rem;
    }

    .projetos-cards {
        width: 100%;
        margin-top: 1rem;

    }

    .caixa-sobre {
        padding: 2rem 1rem;
    }

    .caixa-contato {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .btn {
        width: 80%;
    }

    .texto-contato {
        width: 100%;
    }

    .link-rede-social img {
        width: 32px;
        height: 32px;
        flex-direction: column;

    }
}